
<%= simple_form_for(@temperature_change) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :room %>
    <%= f.input :date %>
    <%= f.input :time %>
    <%= f.input :temperature_celsius %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
